{% extends 'stargazer/layout/row_hbf-col_mr.html' %}
{% load i18n %}

{% block sec_m %}
<h1>{% trans 'dashboard' %}</h1>

<section class="followed_journeys">
    <h3>{% trans "Journeys you've marked" %}</h3>
    <div class="journey_updates story_list">
    {% include 'stargazer/com/brick_list.html' with brick_list=journey_updates %}
    </div>
</section>

<section class="">
    {% trans 'other things you marked' %}: <a href="">{% trans 'places' %}</a> | <a href="">{% trans 'stories' %}</a> | <a href="">{% trans 'all' %}</a>
</section>

<section class="feedback_list">
    <h3>{% trans 'Feedback' %}</h3>
    <ul>
    <li>{% blocktrans with subject_name=owner.fullname subject_uri=owner.abspath_full object_name=journey.title object_uri=journey.abspath_full %}<a href="{{ subject_uri }}">{{ subject_name }}</a> marked your <a href="{{ object_uri }}">{{ object_name }}</a>{% endblocktrans %}</li>
    <li>{% blocktrans with subject_name=owner.fullname subject_uri=owner.abspath_full object_name=story.title object_uri=story.abspath_full %}<a href="{{ subject_uri }}">{{ subject_name }}</a> marked your <a href="{{ object_uri }}">{{ object_name }}</a>{% endblocktrans %}</li>
    <li>{% blocktrans with subject_name=owner.fullname subject_uri=owner.abspath_full object_name=journey.title object_uri=journey.abspath_full %}<a href="{{ subject_uri }}">{{ subject_name }}</a> marked your <a href="{{ object_uri }}">{{ object_name }}</a>{% endblocktrans %}</li>
    <li>{% blocktrans with subject_name=owner.fullname subject_uri=owner.abspath_full object_name=story.title object_uri=story.abspath_full %}<a href="{{ subject_uri }}">{{ subject_name }}</a> marked your <a href="{{ object_uri }}">{{ object_name }}</a>{% endblocktrans %}</li>
    </ul>
</section>

<section class="explore">
    <h3>{% trans 'Explore' %}</h3>
    {% include 'stargazer/com/brick_list.html' %}
    <footer>
        <a href="/explore/">{% trans 'see more' %} &gt;</a>
    </footer>
</section>
<script>
(function($){
    var j_imgls = $('.brick_list');
    
    j_imgls.masonry({
        itemSelector: '.brick',
    });
    
    j_imgls.find('img').load(function(evt){
        j_imgls.masonry('reload');
    });
})(jQuery);
</script>
{% endblock %}

{% block sec_r %}
<h2><a href="{{ owner.abspath_full }}">{{ owner.fullname }} &gt;</a></h2>
<h2><a href="">{% trans '+Story' %}</a></h2>
{% endblock %}
