{% extends 'stargazer/layout/row_hbf-col_mr.html' %}
{% load i18n %}

{% block sec_m %}
<section class="">
{% include 'stargazer/com/brick_list.html' %}
</section>
<script>
(function($){
    var j_imgls = $('.brick_list');
    
    j_imgls.masonry({
        itemSelector: '.brick',
    });
    
    j_imgls.find('img').load(function(evt){
        j_imgls.masonry('reload');
    });
})(jQuery);
</script>
{% endblock %}

{% block sec_r %}
<section>{% trans 'explain how we decide what to show in this page' %}</section>
{% endblock %}
