{% extends 'stargazer/layout/row_hbf-col_mr.html' %}
{% load i18n %}

{% block sec_m %}
<h1 class="journey_title">{{ journey.title }}</h1>
<div class="story_list stream">
{% for story in journey.stories %}
    <div class="story stream_item">
        {% if story.title %}<h3>{{ story.title }}</h3>{% endif %}
        {% if story.text %}<div class="text">{{ story.text }}</div>{% endif %}
        {% if story.photos %}
        <div class="photo_list">
        {% for photo in story.photos %}
            <img width="600px" src="{{ photo }}" alt="" />
        {% endfor %}
        </div>
        {% endif %}
        <footer>
            <div class="meta">
                <span class="date">{{ story.date }}</span> {% trans 'at' %}
                <span class="place">{{ story.place }}</span>
            </div>
        </footer>
    </div>
{% empty %}
{% endfor %}    
</div>
{% endblock %}

{% block sec_r %}
<section class="owner">
{% blocktrans with fullname=owner.fullname uri=owner.abspath_full %}this is journey of<br /><a href="{{ uri }}"><strong>{{ fullname }}</strong></a>{% endblocktrans %}
</section>

<!--<nav>
    <span>&gt; {% trans 'first story first' %}</span><br />
    <a href="#">{% trans 'last story first' %}</a>
</nav>-->

<section class="mark">
    <a class="mark" href="">{% trans 'Mark this journey' %}</a>
</section>

{% if journey.track %}
<section class="track">
{% for place in journey.track %}
<a href="/places/v/1/mordor/">{{ place }}</a>
{% if is_last_story_first %}
&lt;-
{% else %}
-&gt;
{% endif %}
{% endfor %}    
</section>
{% endif %}
{% endblock %}
