{% extends 'stargazer/layout/row_hbf-col_mr.html' %}
{% load i18n %}

{% block sec_m %}
<section class="stream">
{% for date, story_list in place.stories_by_date %}
    <div class="data">{{ date }}</div>
    <div class="story_list">
    {% include 'stargazer/com/brick_list.html' with brick_list=story_list %}
    </div>
{% empty %}
{% endfor %}    
</section>
{% endblock %}

{% block sec_r %}
<section class="place_info">
    <h1>{{ place.name }}</h1>
    <div class="map"></div>
    {% if place.story_count %}
    <div class="">{% blocktrans count c=place.story_count %}{{ c }} story here{% plural %}{{ c }} stories here{% endblocktrans %}</div>
    {% endif %}
</section>

<section class="mark">
    <a class="mark" href="">{% trans 'Mark this place' %}</a>
</section>

{% if place.watcher_list %}
<section class="watcher_list">
    <div>{% blocktrans with l=place.watcher_list|length %}{{ l }} people marked this place{% endblocktrans %}</div>
    <div class="">
    {% for people in place.watcher_list %}
        <a href="{{ people.abspath_full }}"><img src="{{ people.avatar_uri }}" alt="{{ people.fullname }}" /></a>
    {% endfor %}
    </div>
    <a href="#">{% trans 'see all' %} &gt;</a>
</section>
{% endif %}
{% endblock %}