{% extends 'stargazer/layout/row_hbf-col_mr.html' %}
{% load i18n %}

{% block sec_m %}
<article>
    {% if story.title %}<h1>{{ story.title }}</h1>{% endif %}
    <div class="text">{{ story.text }}</div>
    <div class="photo_list">
    {% for photo in story.photos %}
        <img width="600px" src="{{ photo }}" alt="" />
    {% endfor %}
    </div>
    <footer>
        <div class="meta">
            <span class="date">{{ story.date }}</span> {% trans 'at' %}
            <span class="place">{{ story.place }}</span>
        </div>
    </footer>
</article>
{% endblock %}

{% block sec_r %}
<section>
{% blocktrans with link_href=owner.abspath_full link_text=owner.fullname %}by <a href="{{ link_href }}">{{ link_text }}</a>{% endblocktrans %}<br />
{% blocktrans with link_href=journey.abspath_full link_text=journey.title %}during <a href="{{ link_href }}">{{ link_text }}</a>{% endblocktrans %}<br />
{% blocktrans with link_href=place.abspath_full link_text=place.name %}at <a href="{{ link_href }}">{{ link_text }}</a>{% endblocktrans %}
</section>

<section class="mark">
    <a class="mark" href="">{% trans 'Mark this story' %}</a>
</section>
{% endblock %}