<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Stargazer</title>
    
    <link rel="stylesheet" type="text/css" href="/s/stargazer/c/blueprint-1.0.1/reset.css" />
    <link rel="stylesheet" type="text/css" href="/s/stargazer/c/blueprint-1.0.1/typography.css" />
    <link rel="stylesheet" type="text/css" href="/s/stargazer/c/common.css?r=0.1.5" />
</head>

<body class="pg-500">
    <header>
        <a class="logo" href="/">Hypo</a>
        
        <nav>
            <a href="/public/">Explore</a>
        </nav>
        
        <div class="c"></div>
    </header>
    
    
    <div class="row-bd_wrap">
        <section class="row-bd">
            <section class="sec-m">
                <div class="errmsg">
                    <h1>something went wrong inside stargazer</h1>
                    <p>Report had sent to the nightwatch.</p>
                    <img height="450px" src="http://httpcats.herokuapp.com/500" alt="something went wrong inside ikran" />
                </div>
            </section>
            <div class="c"></div>
        </section>
        <div class="c"></div>
    </div>
    
    <div class="c"></div>
    <footer>
        <a href="/under_construction/">why stargazer</a> |
        <a href="https://plus.google.com/101080974312491458888/" target="_blank">about snow</a> |
        <a href="https://github.com/snow/prjhypo/" target="_blank">source</a>
    </footer>
</body>
</html>