@CHARSET "UTF-8";
/*
 * utils
 * ----------------
 */
.c {clear:both}
.cf:after {content: '.'; display: block; overflow: hidden; visibility: hidden; 
    font-size: 0; line-height: 0; width: 0; height: 0}
.tpl {display:none}
html, body {height:100%}
body {overflow-y:scroll}
#rcp-preimg {display:none}
/*
 * components
 * ----------------
 */
h3,
h4 {margin-bottom:0.5em}
a.off {color:#aaa}
/*
 * header
 */
body>header {position:relative; padding:0 10px; 
             border-bottom:1px dashed #666; color:#666}
    /* position & size */
    body>header .logo,
    body>header nav,
        body>header nav a {float:left}
    body>header .curuser {float:right}
    
    body>header .logo,
    body>header nav a {display:block; height:2em; line-height:2em;
                         font-size:1.2em}
                         
    body>header .logo {padding:0 10px}
    
    body>header nav {margin-left:10px; padding-left:10px}
        body>header nav a {padding:0 10px}
        
    body>header .curuser>* {display:inline-block; height:2em; 
                              line-height:2em; font-size:1.2em}   
                               
    body>header .curuser>span {margin-right:5px}
    
    body>header .curuser>a {display:none; padding:0 5px}
        body>header .curuser:hover>a {display:inline-block}
    
    .curuser .messages {position:relative; height:100%; overflow:visible}
        .curuser .messages .count {display:inline-block; padding:0 12px; 
                                   color:#fff; background:#666}
        .curuser .messages .ls {position:absolute; top:100%; right:-50px; 
                                padding:5px; width:300px; border:2px solid #666; 
                                background:#fff; z-index:3}
            .curuser .messages .ls>* {display:block; padding:0 10px; 
                                      margin-bottom:5px; border-style:dashed;
                                      border-top:none; border-left:none; 
                                      border-right:none; background:none}
    
    /* style */
    body>header a {text-decoration:none}    
        body>header a:hover {background:#eee}
    
    body>header nav {border-left:1px solid #eee}
/*
 * footer
 */
body>footer {position:relative; padding:5px 10px; margin-top:-29px;
             border-top:1px dashed #666; text-align:right; color:#666; 
             background:#fff; z-index:1}
     body>footer a {margin:0 5px}
/*
 * body
 */
/* layout */
/* push footer */
.row-bd,
.row-bd_wrap {min-height:100%}

.row-bd_wrap {margin-top:-30px}
.row-bd_wrap .row-bd {padding-top:30px}
/* end push footer */
/*.layout-bd>.sec-right {position:fixed; top:37px; right:0; padding-right:10px; width:300px; 
                 overflow-x:hidden}
.layout-bd>.sec-left {position:absolute; margin-top:5px; padding:20px 10px 50px 10px; 
               border-right:1px dashed #999; width:100px; text-align:right}
    header+.bd>.sec-left {margin-top:42px}*/

/*.sec-left+.sec-main {padding-left:140px}*/

/*.bd>.c:first-child {height:38px; width:100%}*/
.col-m-r .sec-m {float:left}
.sec-r {float:left; width:260px; margin-left:10px}


/*
 * main section
 */
.sec-m {width:600px; min-height:500px; padding:10px 50px 0 50px; 
        border-right:1px solid #999}

.row-bd>.c:last-child {height:80px; width:100%}

.sec-m section {margin-bottom:20px}

/*
 * right sidebar
 */
.sec-r {padding-top:10px}
.sec-r h3 {margin:0.5em 0; color:#666; font-size:1.8em}
.sec-r h3:before {content:'> '; color:#999}

.sec-r h4 {margin-bottom:0.5em}

.sec-r>section {margin-bottom:30px}

.sec-r nav a,
.sec-r nav span {display:block; font-size:1.2em}

.sec-r nav a {text-decoration:none}
.sec-r nav a:hover {text-decoration:underline}

.sec-r .tag {display:inline-block; text-decoration:none; padding:0 1px}
    .sec-r .tag:hover {text-decoration:underline}
.sec-r .tag_w1 {font-size:1.2em}
.sec-r .tag_w2 {font-size:1.6em}
.sec-r .tag_w3 {font-size:2em}

.sec-r textarea {width:20em; height:10em}

/*
 * messages
 */
body>.messages {position:absolute; width:100%; top:10px; text-align:center; z-index:3}
    body>.messages .message  {display:block; margin:0 20px 20px; font-size:1.2em; text-decoration:none}

/*
 * post list
 */
h1.site_title {margin:0.5em 0 1em; padding-bottom:0.5em; border-bottom:1px solid #999}
    .site_title a {text-decoration:none; color:#222}
        .site_title a:hover {text-decoration:underline}
    .site_title .edit a {color:#06c}

.post_list .post {margin-bottom:30px}

.post_list h1 {font-size:2em}
.post_list h2 {font-size:1.6em}
.post_list h3 {font-size:1.2em}

.post_list .summary {display:block; color:#222; white-space:pre-wrap; 
                      text-decoration:none}
    .post_list .summary .indicator {display:none; margin-bottom:-1.5em; 
                                     height:1.5em; line-height:1.5em }
    .post_list .summary:hover {text-decoration:underline}
        .post_list .summary:hover .indicator {display:block}
    .post_list .summary img {float:left; margin:0 5px 5px 0; max-width:180px;}    
    /*.post_list .summary:after {display:block; content:' '; clear:both}*/
    .post_list .content img {max-width:600px}  

.post_list footer {margin-top:1.5em; padding:2px 0; border-bottom:1px solid #ccc; 
                   color:#666}

.post_list .meta {float:left}
.post_list .operations {float:right}                   

                   
/*
 * image list
 */
.image_container {position:relative; float:left; text-decoration:none}
    .image_container img {float:left; border:4px solid transparent; width:192px}
        .image_container:hover img {border-color:#ccc}
    
    .image_container .desc_wrap {position:absolute; display:none; width:100%; 
                                 bottom:0; background:#000; color:#fff; 
                                 opacity:0.8}
        .image_container:hover .desc_wrap {display:block}
        .image_container .desc {padding:5px; text-align:center; overflow:hidden}
        
        .image_container .mask {position:absolute; top:0; left:0; width:100%; 
                                height:100%; opacity:0.8; z-index:1; 
                                text-align:center;
                                background:#000 no-repeat center center;}
                                
        .image_container.ing .mask {background-image:url(/s/hypo/i/loading-31.gif)}
        .image_container.err .mask {color:red; line-height:2em; font-size:2em}
   
.image_list.fix_height .image_container {max-width:100%}
.image_list.fix_height img {border:none; width:auto; max-width:100%}
    
.image_list .empty {font-size:xx-large; color:#999; text-align:center}
/*
 * darkbox
 */
.darkbox {position:fixed; display:none; top:0; left:0; width:100%; height:100%;
          background:#000; z-index:4}

.darkbox .bd {position:relative}
.darkbox .col_m {position:relative; display:table-cell; text-align:center; 
                 vertical-align:middle}
    .darkbox .col_m img {max-width:100%; max-height:100%}
    .darkbox .prev,
    .darkbox .next {position:absolute; display:block; top:0;
                    width:25%; height:100%; 
                    opacity:0; background:no-repeat center center}
        .darkbox .prev:hover,
        .darkbox .next:hover {opacity:1}
        .darkbox .prev {left:0; background-image:url('/s/hypo/i/arrow-l-45_93.png')}
        .darkbox .next {right:0; background-image:url('/s/hypo/i/arrow-r-45_93.png')}
        
        .darkbox .prev.off,
        .darkbox .next.off {display:none}
        
.darkbox .col_r {position:absolute; top:0; right:0; width:300px}

.darkbox footer {position:fixed; left:0; bottom:0; width:100%; overflow:hidden}
    .darkbox .thumb_list {position:relative; height:78px}
    .darkbox .thumb_list.off {display:none}
    .darkbox .thumb_container {position:relative; display:inline-block; 
                               padding:2px 0 2px 2px; z-index;2; 
                               cursor:pointer}
        .darkbox .thumb_container:last-child {padding-right:2px}
        .darkbox .thumb_container img {border:1px solid transparent; width:72px;
                                       height:72px}
        .darkbox .thumb_container .mask {position:absolute; top:0; left:0; 
                                         width:100%; height:100%; 
                                         background:#000; opacity:0.7}
                                         
        .darkbox .on+.thumb_container {padding-left:0}
        .darkbox .thumb_container.on {padding:1px; border:1px solid #000; 
                                      background:#fff}
        .darkbox .thumb_container.on img {border:1px solid #000}
        .darkbox .thumb_container.on .mask {display:none}
/*
 * edit link
 */
sup.edit {display:none}
    :hover>sup.edit {display:inline}
        
    sup.edit a {text-decoration:none}
    sup.edit a:hover {text-decoration:underline}

/*
 * signin
 */
.sec-r .signin {font-size:1.5em}
    .sec-r .signin h3 {font-size:1.5em}
    .sec-r .noopenid, 
    .sec-r .noopenid a {color:#999}

/*
 * author
 */
.sec-r .author {margin-top:20px}
.sec-r .author img {margin-left:-11px}

/*
 * forms
 */
.formrow {line-height:2em}
.formrow .label {display:inline-block; margin-right:5px; width:10em; 
                 text-align:right; vertical-align:baseline}
.formrow .errorlist {margin-left:10em; color:red}
.formrow .help {margin-left:5px}

.username .help {margin-left:11em}

form .fakeborder {border:1px solid #bbb; padding:5px}
    form .fakeborder [type=text],
    form .fakeborder textarea,
    form .fakeborder [type=password],
    form .fakeborder [type=email] {width:100%; margin:0; padding:0; border:none}

.imgfieldwrap {position:relative; overflow:hidden}    
    .imgfieldwrap .selectfile {position:absolute; top:0; left:0; 
                               text-decoration:none; z-index:-1}
    .imgfieldwrap [name=img] {opacity:0}
    .imgfieldwrap:hover .selectfile {text-decoration:underline}    
    
.phctn {position:relative}
label:has(.placeholder) {font-weight:normal}
.phctn .placeholder {position:absolute; font-weight:normal; line-height:1.2em;
                     color:#999; z-index:-1}
.phctn [type=text],
.phctn [type=password],
.phctn [type=email],
.phctn textarea {background:transparent}                
/*
 * upload
 */
.sec-r>.upload .selectfile {font-size:1.8em; margin-bottom:5px}

.sec-r>.upload .or {display:block; color:#666; text-align:center}
.sec-r>.upload ul {color:#666; font-size:1.5em}

.sec-r>.upload .selectfile {text-decoration:none}
.sec-r>.upload .imgfieldwrap [name=img] {position:absolute; opacity:0}
.sec-r>.upload .imgfieldwrap:hover .selectfile {text-decoration:underline}

body>.dropzone {position:fixed; top:0; left:0; width:100%; height:100%; 
                cursor:pointer}
body>.dropzone .inr {position:absolute; top:0; 
                     padding:100px; border:10px dashed #999; color:#333;
                     font-size:6em; vertical-align:middle; text-align:center} 
body>.dropzone .bg {width:100%; height:100%; background:#fff; opacity:0.6}

/*
 * page specifics
 * ----------------
 */
/*
 * under construction
 */
.pg-under_construction .sec-m {float:none; padding:100px 0 50px; text-align:center}
.pg-under_construction .go_back {font-size:2em}
/*
 * index
 */    
.pg-index .sec-m {width:500px; font-size:1.2em}
.pg-index .sec-r {position:fixed; margin-left:630px; width:300px}

.pg-index .sec-m h3 {font-size:1.2em}

.pg-index .intro {margin-top:20px}
.pg-index .intro h1 {font-size:3em}
.pg-index .intro .slogun {margin-bottom:0.5em; font-size:1.5em}
.pg-index .intro .explore {margin-bottom:0.5em; font-size:x-large}

.pg-index .news {margin-top:1.5em}

/*
 * post create
 */
.post_form .formrow {margin-bottom:20px}

.post_form .title .fakeborder {padding:3px 6px; font-size:1.2em}

.post_form .imgfieldwrap {float:right; width:7em; height:24px}
        
    .fakeborder.ckeditor {padding:0}
    
    .post_form .tags textarea {height:3em}
/*
 * image list
 */
.pg-image_list .page_title {float:left}
.pg-image_list .sec-m .imgfieldwrap {width:14em; float:right}
.pg-image_list .sec-m .selectfile {font-size:2em}
.pg-image_list .sec-m .imgfieldwrap [name=img] {font-size:2em}

/*
 * post detail
 */
.pg-post_detail article footer {margin-top:50px}
        .pg-post_detail article img {max-width:600px}

        .pg-post_detail article footer .meta {float:left}
        .pg-post_detail article footer .operations {float:right}            